body {
  width: 100%;
  background-color: #ccd0d1;
  height: 100vh;
}
.container {
  background-color: #f7f7f7;
  border: 2px solid #1b4752;
  border-radius: 5px;
  width: 600px;
  max-width: 80%;
  padding: 0.8 cm;
  margin-top: 1cm;
}
.current-time {
  display: block;
  position: relative;
  float: left;
  font-family: "Montserrat", sans-serif;
  color: #69488de0;
  padding-top: 21px;
  font-weight: 300;
  font-size: 10px;
}

form {
  display: block;
  position: relative;
  float: right;
  height: 30px;
  margin: 15px auto 10px auto;
}

.here {
  color: white;
  background: #483958bd;
  border: 1px solid #69488de0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px grey;
  transition: all 150ms ease-in-out;
  display: block;
  height: 30px;
  float: right;
  position: relative;
  padding: 5px 10px;
  margin: 8px auto 5px 5px;
}
.here:hover {
  color: #483958;
  background: white;
  cursor: pointer;
}
.img-container {
  background-image: url(../media/sunny.jpg);
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 4px;
}

.city-result {
  float: left;
  position: relative;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  left: 16px;
  top: 140px;
  font-weight: 900;
}

h1 {
  font-size: 70px;
  height: 75px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  padding-left: 8px;
  font-weight: bold;
  display: inline-block;
}
.units {
  display: inline-block;
  font-size: 30px;
}
a:link {
  color: white;
  text-decoration: none;
}

a:hover,
a:visited,
a:active {
  color: #f7f7f7a4;
  text-decoration: underline;
}
